.favorites-container {
  /* min-height: 50%;  */

  height: 77%;
}

.alert-no-favorites {
  border: solid yellow 3px;
  margin-top: 10%;
  height: 30vh;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  font-size: 1.7rem;
  font-style: italic;
  color: #acace0a4;
}