.favorites-container {
  padding: 10vh 0 35vh;
}

.alert-no-favorites {
  align-items: flex-end;
  color: #acace0a4;
  display: flex;
  font-size: 1.7rem;
  font-style: italic;
  height: 30vh;
  justify-content: center;
  margin-top: 10%;
}
