.loading {
  align-items: center;
  color: #1d1d1f;
  /* display: flex; */
  position: absolute;
  height: 70%;
  justify-content: center;
  width: 100%;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}
