.album-container {
  background: radial-gradient(
    circle at 32% 37%,
    rgba(79, 79, 81, 1) 0%,
    rgba(22, 22, 24, 1) 99%,
    rgba(128, 128, 128, 1) 100%
  );

  padding: 24vh 0 0 0;
}

/* @media only screen and (max-width: 969px) {
  .searchInput-container {
    padding-top: 25%;
  }
} */

@media only screen and (max-width: 900px) {
  .album-container {
    padding: 11vh 0 0 0;
  }
}

.img-artist-album-container {
  /* border: solid 2px green; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding-top: 10%; */
}

.img-artist-album-container img {
  padding-right: 1%;
}

.artist-album-container {
  /* border: solid 2px red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist-album-container p {
  color: gray;
}
