.img-artist-album-container {
  border: solid 2px green;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.img-artist-album-container img {
  padding-right: 1%;
}

.artist-album-container {
  border: solid 2px red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
