.musicCard-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 4%;
}

.audio-imput-container {
  align-items: center;
  display: flex;
  margin-top: 2%;
}

.audio-imput-container label {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin: 2%;
}

.audio-imput-container label input {
  margin: 0 10px;
}
