/* .page-profile {} */

@media only screen and (max-width: 969px) {
  .page-profile {
    padding-top: 45%;
  }
}

.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15%;
}

.profile-edit-link {
  color: rgba(202, 204, 226, 0.459);
  letter-spacing: 0.09rem;
  margin-top: 5%;
}
