.page-profile-edit {
  padding: 18% 0;
}

.profile-edit-section-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-edit-section-container form label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8% 0;
}

.profile-edit-section-container img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 900px) {
  .page-profile-edit {
    height: 90%;
    padding: 38% 0 0 0;
  }
}
