.searchPage-container {
  height: 100%;
}

.searchInput-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.searchInput-container input {
  background-color: rgb(220, 218, 247);
  border-radius: 8px;
  font-size: 112%;
  height: 8%;
  text-align: center;
  width: 53%;
}

.searchInput-container button {
  background-color: rgb(193, 193, 199);
  border-radius: 8px;
  font-size: 112%;
  height: 8%;
  width: 16%;
}
