/* .searchPage-container {} */

.searchInput-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15%;
}

@media only screen and (max-width: 969px) {
  .searchInput-container {
    padding-top: 25%;
  }
}

.searchInput-container input {
  background-color: rgb(220, 218, 247);
  border-radius: 8px;
  font-size: 112%;
  height: 8%;
  margin: 0 2%;
  text-align: center;
  width: 53%;
}

.searchInput-container button {
  background-color: rgb(193, 193, 199);
  border-radius: 8px;
  font-size: 112%;
  height: 8%;
  min-width: 120px;
  width: 16%;
}

.search-showalbuns-container {
  height: 100%;
}
