.card-container {
  border: solid 5px blue;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* justify-content: space-evenly; */

}

.card {
  border: solid 3px red;
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* max-width: 10%;
  max-height: 20%; */
  margin: 5%;
}

